/**
 * default stylesheets
 *
 * @author robin heinel
 *
 */
global {
	horizontalGap: 0px;
	verticalGap: 0px;
	paddingLeft: 0px;
	paddingRight: 0px;
	paddingBottom: 0;
	paddingTop: 0px;
}
DragManager {
	moveCursor: Embed(source="/de/robinz/as3/pcc/chessboard/resources/images/drop-valid.png");
	rejectCursor: Embed(source="/de/robinz/as3/pcc/chessboard/resources/images/drop-unvalid.png");
}
.chessboard {
	borderThicknessLeft: 1;
	borderThicknessTop: 1;
	borderThicknessBottom: 1;
	borderThicknessRight: 1;
	backgroundColor: #cdcdcd;
	borderColor: #cdcdcd;
	borderStyle: solid;
}
.chessboardLeftPanelContainer {
	horizontalGap: 20;
	verticalGap: 20;
}
.chessboardStage {
	paddingLeft: 0;
	paddingRight: 0;
	paddingBottom: 0;
	paddingTop: 0;
	verticalAlign: middle;
	horizontalAlign: center;
}
.boardContainer {
	verticalAlign: middle;
	horizontalAlign: center;
	horizontalGap: 20;
	verticalGap: 20;
}
.historyMoveNumber,
.historyMovePiece,
.historyMoveDescription {
	fontSize: 14;
}
.historyMoveNumber {
	background-color: #ff0000;
	fontSize: 12;
}
.pieceContainer {
	verticalAlign: middle;
	horizontalAlign: center;
	background: #ff0000;
}
.piece {
	fontFamily: font1;
	fontSize: 25pt;
}
.legendVertical {
	verticalAlign: middle;
	horizontalAlign: center;
	backgroundColor: #ffffff;
}
.boardLegendContainer {
	color: #ffffff;
}
.legendVerticalRow {
	backgroundColor: #ffffff;
	horizontalAlign: center;
	verticalAlign: middle;
}
.boardField {
	horizontalAlign: center;
	verticalAlign: middle;
	fontFamily: font1;
	fontSize: 40;
}
.mystyle1 {
	fontFamily: font1;
	fontSize: 32pt;
}
.boardBorderBottom {
	backgroundColor: #ffffff;
}
.boardBorderTop {
	backgroundColor: #ffffff;
}
.boardFieldRow {
	backgroundColor: #a0a0a0;
}